@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --font-display: 'Inter', sans-serif;
}

:root {
  --foreground-rgb: 15, 23, 42;
  /* slate-900 */
  --background-start-rgb: 248, 250, 252;
  /* slate-50 */
  --background-end-rgb: 248, 250, 252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    /* slate-900 */
    --background-end-rgb: 15, 23, 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-display);
}

.hero-gradient {
  background: radial-gradient(circle at 70% 30%, rgba(19, 91, 236, 0.08) 0%, transparent 70%);
}

.scan-line {
  height: 2px;
  background: linear-gradient(90deg, transparent, #135bec, transparent);
  position: absolute;
  width: 100%;
  top: 50%;
  box-shadow: 0 0 15px #135bec;
}